.TodoItem-todo.done {
    color: gray;
    text-decoration:line-through;
}
.delete {
    background-color: hsl(9, 92%, 47%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    float: right;
    font-size: 12px;
  
}

.todo-itembtn-done{
    display: none;

}